body
{
    font-family: Arial, sans-serif;
    background: #f1f5f9;
    margin: 0;
}

/* HEADER */
header
{
    background: #0f172a;
    color: white;
    padding: 20px;
    text-align: center;
}

/* NAV BAR */
nav
{
    display: flex;
    justify-content: center;
    background: #1e293b;
}

nav button
{
    background: transparent;
    border: none;
    color: white;
    padding: 12px 25px;
    font-size: 15px;
    cursor: pointer;
}

nav button:hover
{
    background: #2563eb;
}

/* SECTIONS */
.active-section
{
    display: block;
}

.hidden-section
{
    display: none;
}

/* DASHBOARD */
.dashboard
{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.card
{
    background: #020617;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card p
{
    font-size: 28px;
    margin: 10px 0 0;
}

/* FORM + TABLE */
.form-section,
.table-section
{
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input
{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #cbd5f5;
    border-radius: 4px;
    font-size: 14px;
}

button
{
    padding: 10px;
    background: #2563eb;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover
{
    background: #1e40af;
}

/* TABLE */
table
{
    width: 100%;
    border-collapse: collapse;
}

th
{
    background: #2563eb;
    color: white;
}

th,
td
{
    padding: 10px;
    border: 1px solid #e5e7eb;
    text-align: center;
}

/* STATUS */
.pass
{
    color: #16a34a;
    font-weight: bold;
}

.fail
{
    color: #dc2626;
    font-weight: bold;
}

/* ATTENDANCE BUTTON */
.attendance-btn
{
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.present
{
    background: #22c55e;
    color: white;
}

.absent
{
    background: #ef4444;
    color: white;
}
